body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: darkred;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: steelblue;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.tab-content {
    flex: 1;
}

footer {
    background-color: steelblue;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-flex;
}

footer a i {
    margin-right: 5px;
    font-size: x-large;
    justify-content: space-between;
}

header {
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(233, 201, 199));
}

header img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

@media (max-width: 768px) {
    header img {
        max-width: 80%;
    }
}

.container {
    background-color: whitesmoke;
    color: darkslategray;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.container h1 {
    color: darkred;
}

.container h2 {
    color: steelblue;
}

.container ul {
    list-style: none;
    padding: 0;
    list-style-position: inside;
}

.container li {
    display: flex;
    margin-bottom: 0.2em;
}

.container li::before {
    content: "\f192";
    font-family: "Font Awesome 6 Free";
    font-size: small;
    margin-right: 8px;
    margin-top: 0.3em;
    color: darkred;
    font-weight: 900; 
}